@namespace xml "http://www.w3.org/XML/1998/namespace";

/*

Tokens between '@'s are substituted for their values if defined in the docBook extension closure.

@font-face {
  font-family: "@body.font.family@";
  src: url("@body.font.family.url@");
}

body {
  font-family: "@body-font-family@", sans-serif;
}
*/

body {
  font-family: sans-serif;
}

div.dedication {
  display:block;
  background-color: #FFEEEE;
  color:inherit;
  margin:1em 1em;
  padding:0.2em;
  border: 1px solid #FFAAAA;
}

div.colophon {
  display:block;
  background-color: #EFEFEF;
  color:inherit;
  margin:1em 1em;
  border: 1px solid #DDDDDD;
}

em.glossterm {
  display:inline;
  font-style:italic;
}

span.italic {
  text-decoration:inherit;
  font-style:italic;
  font-weight:inherit;
}
