@namespace xml "http://www.w3.org/XML/1998/namespace";

@font-face {
  font-family: "@body.font.family@";
  src: url("@body.font.family.url@");
}

body {
  font-family: "@body-font-family@", sans-serif;
}
